{extend name="/layout" /}
{block name="asset"}
{/block}
{block name="main"}
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin my-layout-admin">
		<div class="layui-header">
			<form class="layui-form top-search-form" action="" onsubmit="return false;">
		        <div class="layui-form-pane">
		        	<div class="layui-form-item">
		        		<div class="layui-input-inline">
		                    <select class="layui-input" name="status">
		                    	<option value="">订单状态</option>
		                    	<option value="-1">已取消</option>
		                    	<option value="1">待支付</option>
		                    	<option value="2">待发货</option>
		                    	<option value="3">已发货</option>
		                    	<option value="4">待自提</option>
		                    	<option value="5">已完成</option>
		                    </select>
		                </div>
		                <div class="layui-input-inline">
		                    <select class="layui-input" name="fromid">
		                    	<option value="">请选择团长</option>
		                    	{volist name="groups" id="g"}
		                    		<option value="{$g.id}">{$g.realname}</option>
		                    	{/volist}
		                    </select>
		                </div>
		                <div class="layui-input-inline" style="width: 150px;">
		                    <input class="layui-input" placeholder="开始日期" id="start" name="start">
		                </div>
		                <div class="layui-input-inline" style="width: 150px;">
		                    <input class="layui-input" placeholder="截止日期" id="end" name="end">
		                </div>
		                <div class="layui-input-inline">
		                    <input type="text" name="keyword" placeholder="请输入关键字" autocomplete="off" class="layui-input">
		                </div>
		                <div class="layui-input-inline" style="width:40px">
		                    <button class="layui-btn layui-btn-sm" lay-submit lay-filter="form-search">
		                        <i class="fa fa-search"></i></button>
		                </div>
		                <div class="layui-input-inline" style="width:40px">
		                    <a class="layui-btn layui-btn-sm" href="">
		                        <i class="fa fa-refresh"></i>
		                    </a>
		                </div>
		            </div>
					<div class="layui-btn-group layui-layout-right">
						
					</div>
		        </div>
		    </form>
		</div>
		<div class="layui-body" id="table-box" style="bottom:0;padding:5px;"></div>
		<div class="layui-footer" id="page-box" style="display:none;"></div>
	</div>
</body>
<script>
window.recall=function(){
    //监听提交
    form.on('submit(form-search)', function(data) {
        var field = data.field;
        var searchWhere = {};
        if (field.status) {
            searchWhere['b.status'] = field.status;
        }

        if (field.fromid) {
            searchWhere['b.fromid'] = field.fromid;
        }
        if (field.start) {
        	searchWhere['b.addtime'] = ['>=', field.start + ' 00:00:00'];
        }
        if (field.end) {
        	searchWhere['b.addtime'] = ['<=', field.end + ' 23:59:59'];
        }

        if (field.start && field.end) {
        	searchWhere['b.addtime'] = ['between', [field.start + ' 00:00:00', field.end + ' 23:59:59']];
        }
        if (field.keyword) {
            searchWhere['a.title'] = ['like', '%' + field.keyword + '%'];
        }
        adminTable.search(searchWhere);
        return false;
    });

    tools.table({
        jsonUrl: "{:url($ctrl.'/'.$action.'_goods')}",
        dealParam: {
        },
        colModel: [{
            display: '商品名称',
            name: 'title',
        }, {
            display: '销量统计',
            name: 'total',
        }, ]
    });


}
</script>
{/block}
