{extend name="/layout" /} 
{block name="main"}
<body class="layui-layout-body">
	    <div class="count-item-list">
	    	<div class="count-item" data-url="{:url('count/count_sale')}">
	    		<img alt="折线图" src="/o_1c98tjfvf1l7k9t6g1rhr41m41b.png">
	    		<div class="title">销售额统计</div>
	    	</div>
	    	<div class="count-item" data-url="{:url('count/count_goods')}">
	    		<img alt="表格" src="/o_1cdn7elhu1ucqpo81b4ur3bh2qc.png">
	    		<div class="title">商品销量统计</div>
	    	</div>
	    </div>
	</body>
	<script>
	window.recall = function(){
		$(".count-item").on("click",function(){
			var url = $(this).data('url');
			var title = $(this).find('.title').text();
			tools.adminShow(title, url);
		});
	}
	</script>
{/block}
