<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{$siteTitle}</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" href="/plugins/layui/css/layui.css?v={$Think.PROJECT_VERSION}">
		<link rel="stylesheet" href="/admin/admin.css?v={$Think.PROJECT_VERSION}" media="all">
		<script src="/plugins/layui/layui.js?v={$Think.PROJECT_VERSION}" charset="utf-8"></script>
		<script src="/admin/admin.js?v={$Think.PROJECT_VERSION}" charset="utf-8"></script>
		<script src="/plugins/tablejs/tablejs.min.js?v={$Think.PROJECT_VERSION}" charset="utf-8"></script>

		<link href="/plugins/font-awesome/css/font-awesome.min.css?v={$Think.PROJECT_VERSION}" rel="stylesheet">
		{block name="asset"}{/block}
	</head>
	{block name="main"}主内容{/block}
</html>