{extend name="/layout" /} 
{block name="asset"}
    <link rel="stylesheet" href="/plugins/zTree/css/zTreeStyle/zTreeStyle.css">
<script type="text/javascript" src="/plugins/qiniu/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/plugins/zTree/js/jquery.ztree.all.min.js"></script>
    <script src="https://cdn.staticfile.org/plupload/2.1.9/moxie.min.js"></script>
    <script src="https://cdn.staticfile.org/plupload/2.1.9/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/plupload/2.1.9/i18n/zh_CN.js"></script>
    <script src="/plugins/qiniu/qiniu.min.js"></script>


<script type="text/javascript" src="/plugins/qiniu/ajaxfileupload.js"></script>
{/block}
{block name="main"}
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-side" style="background-color: #FFE6B0;border-right: solid 1px #ccc;top: 0;overflow-y: hidden;">
            <div class="layui-btn-group left-btn">
                <button class="layui-btn layui-btn-primary layui-btn-sm" id="add-folder">
                    <i class="fa fa-plus-circle"></i>添加
                </button>
                <a class="layui-btn layui-btn-primary layui-btn-sm" href="">
                    <i class="fa fa-refresh"></i>刷新
                </a>
            </div>
            <div class="layui-side-scroll ztree" id="file-tree">
                
            </div>
        </div>
        <div class="layui-body" style="bottom: 0;top:0;">
            <div class="layui-btn-group left-btn">
            	{if condition="$rbac->check($ctrl.'/'.$action.'_add')"}
                <input type="file" id="addImg2" class="img1" name="addImg2" value="" style="display: none" placeholder="">
                <button id="add-file"  class="layui-btn layui-btn-sm">
                    <i class="fa fa-upload"></i>上传
                </button>
                {/if}
                {if condition="$rbac->check($ctrl.'/'.$action.'_del')"}
                <button id="delete-select" class="layui-btn layui-btn-danger layui-btn-sm">
                    <i class="fa fa-trash"></i>删除
                </button>
                {/if}
                <button id="cancel-select" class="layui-btn layui-btn-sm">
                    <i class="fa fa-circle-o"></i>取消
                </button>
                <button id="show-select" class="layui-btn layui-btn-warm layui-btn-sm">
                    <i class="fa fa-eye"></i>已选
                </button>
                <button id="sure-select" class="layui-btn layui-btn-sm">
                    <i class="fa fa-cubes"></i>确定(0)
                </button>
            </div>
            <div class="search-input" style="border: solid 1px #ccc;height: 30px;border-radius: 5px;padding: 5px;margin: 0 10px;">
            	<input class="input" id="search-input" placeholder="输入图片名字快速查找" style="outline: none;width: 100%;border: none;height: 100%;">
            </div>
            <div class="file-list"></div>
        </div>
    </div>
    <script type="text/javascript">
    	var groupNode = {:json_encode($groups)};
    	var gid=0;
    	var selectInc = 0;

        window.recall = function(){
        	
        	treeTool.jampUrl('','',{id:gid});
        	
        	$("#search-input").keyup(function(){
            	var word = $.trim($(this).val());
            	$(".file-list").find(".file-item").each(function(){
            		var imgName = $.trim($(this).find('.title').text());
            		if($(this).hasClass("active") || imgName.indexOf(word) >=0){
            			$(this).show();
            		}else{
            			$(this).hide();
            		}
            	});
            });
        	
        	$("#add-folder").on('click', function() {
                var name = "新的文件夹";
                tools.ajax('{:url("file/addgroup")}',{parentid:0,name:name},function(res){
                    var zTree = $.fn.zTree.getZTreeObj("file-tree");
                    zTree.addNodes(null, {id:res, pId:0, name:name,isParent:1});
                    return false;
                });
            });
        	
        	$(".file-list").on("click",'.file-item',function(){
        		if($(this).hasClass("active")){
        			$(this).removeClass("active");
        		}else{
        			$(this).addClass("active");
        			$(this).data("inc",selectInc);
        			selectInc+=1;
        		}
                var len = $(".file-list").find('.active').length;
                $("#sure-select").html('<i class="fa fa-cubes"></i>确定('+len+')');
        	});
        	
        	$("#show-select").on('click', function() {
                var opt = $(this).data("opt") || 1;
                $.each($(".file-list").find('.file-item'), function(index, val) {
                    if (!$(this).hasClass('active')) {
                        if (opt == 1) {
                            $(this).hide();
                        }else{
                            $(this).show();
                        }
                    }
                });
                if(opt == 1){
                	$(this).html('<i class="fa fa-eye"></i>全部');
                }else{
                	$(this).html('<i class="fa fa-eye"></i>已选');
                }
                $(this).data('opt', opt == 1 ? 2 : 1);
            });

            $("#cancel-select").on('click', function() {
                $(".file-list").find('.file-item').removeClass('active');
                $("#sure-select").html('<i class="fa fa-cubes"></i>确定(0)');
            });
            
            $("#delete-select").on("click",function(){
            	var fileArr = [];
                $(".file-list").find(".active").each(function(){
                    fileArr.push($(this).data("id"));
                });
                if(fileArr==''){
                    layer.error("请选择要删除的文件");
                    return false;
                }
                layer.confirm("确定要删除已选中的文件吗？",function(){
                    layer.closeAll();
                    tools.ajax("{:url('file/file_del')}",{dataId:fileArr},function(){
                        treeTool.jampUrl('','',{id:gid});
                    });
                });

            });
            
            $("#sure-select").on("click",function(){
                var length = $(".file-list").find(".active").length,
                    config = parent.window.uploadConfig;
                if (length > config.num) {
                    layer.msg("您最多可以选取"+config.num+"张图片", {
                        icon: 2,
                        time: 1500
                    });
                    return false;
                }
                var fileArr = [];
                $(".file-list").find(".active").each(function(){
                    var obj = {
                        id:$(this).data("id"),
                        key:$(this).data("key")
                    };
                    fileArr[$(this).data("inc")] = obj;
                });


                config.chooseFunc(fileArr,config.container,config.mark,"");
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });

            $.fn.zTree.init($("#file-tree"),{
                view: {
                    addHoverDom: treeTool.addHoverDom,
                    removeHoverDom: treeTool.removeHoverDom,
                    selectedMulti: false
                },
                edit: {
                    enable: true,
                    editNameSelectAll: true,
                    showRemoveBtn: treeTool.showRemoveBtn,
                    showRenameBtn: treeTool.showRenameBtn
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                callback: {
                    beforeEditName: treeTool.beforeEditName,
                    beforeRemove: treeTool.beforeRemove,
                    beforeRename: treeTool.beforeRename,
                    onRemove: treeTool.onRemove,
                    onRename: treeTool.onRename,
                    onClick: treeTool.jampUrl
                }
            }, groupNode);


        }




        var treeTool = {
           	jampUrl:function (e, treeId, treeNode){
            	gid = treeNode.id;
                tools.ajax('{:url("file/choose")}',{gid:treeNode.id},function(res){
                    var str = '';
                    for(var i in res){
                        str += '<div  class="file-item" data-id="'+res[i].id+'" data-key="'+res[i].filekey+'">'+
                            '<div class="file">'+
                                '<img src="'+res[i].filekey+'">'+
                            '</div>'+
                            '<div class="title">'+res[i].filename+'</div>'+
                        '</div>';
                    }
                    $(".file-list").html(str);
                });
          	},
            beforeEditName:function (treeId, treeNode) {
                var zTree = $.fn.zTree.getZTreeObj("file-tree");
                zTree.selectNode(treeNode);
                zTree.editName(treeNode);
                return false;
            },
            onRename:function (e, treeId, treeNode, isCancel) {
                if (isCancel) {
                    return true;
                }
                tools.ajax('{:url("file/rename")}',{id:treeNode.id,name:treeNode.name},function(res){
                	
                });
            },
            beforeRemove:function (treeId, treeNode) {
                var zTree = $.fn.zTree.getZTreeObj("file-tree");
                zTree.selectNode(treeNode);
                return confirm('确认删除节点'+treeNode.name);
            },
            onRemove:function (e, treeId, treeNode) {
                for (var key in groupNode) {
                    if (treeNode.id == groupNode[key].id) {
                        delete groupNode[key];
                    }
                }
                tools.ajax('{:url("file/delgroup")}',{id:treeNode.id},function(res){

                });
            },
            beforeRename:function (treeId, treeNode, newName, isCancel) {
                if (newName.length == 0) {
                    var zTree = $.fn.zTree.getZTreeObj("file-tree");
                    zTree.cancelEditName();
                    layer.error('名称不能为空');
                    return false;
                }
                return true;
            },
            showRemoveBtn:function (treeId, treeNode) {
                for (var key in groupNode) {
                    if (groupNode[key].pId == treeNode.id) {
                        return false;
                    }
                }
                return true;
            },
            showRenameBtn:function (treeId, treeNode) {
                return true;
            },
            addHoverDom:function (treeId, treeNode) {
                var sObj = $("#" + treeNode.tId + "_span");
                if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) {
                    return;
                }
                var addStr = "<span class='button add' id='addBtn_" + treeNode.tId + "' title='新建'></span>";
                sObj.after(addStr);
                var btn = $("#addBtn_"+treeNode.tId);
                if (btn) {
                    var name = "新的文件夹";
                    btn.bind("click", function(){
                        tools.ajax('{:url("file/addgroup")}',{parentid:treeNode.id,name:name},function(res){
                            var zTree = $.fn.zTree.getZTreeObj("file-tree");
                            zTree.addNodes(treeNode, {id:res, pId:treeNode.id, name:name,isParent:1});
                            return false;
                        });
                        return false;
                    });
                }
            },
            removeHoverDom:function(treeId, treeNode){
                $("#addBtn_"+treeNode.tId).unbind().remove();
            }
        }

        $(function(){

            $('#add-file').on('click',function(){
                $('#addImg2').trigger('click');


            });
            $("#addImg2").change(function() {

                addimg('addImg2');
            });
        });
        function addimg(name) {

            var max_size = 2048;// 2M
            var tmpFile = document.getElementById(name);
            if (tmpFile.value == '' || tmpFile.value == null) {
                alert("请上传图片");
                return false;
            }
            if (!/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(tmpFile.value)) {
                alert("图片类型必须是[.gif,jpeg,jpg,png]中的一种");
                tmpFile.value = "";
                return false;
            } else {
                var fileData = tmpFile.files[0];
                var size = fileData.size;
                if (size > max_size * 1024) {
                    alert("图片大小不能超过2M");
                    tmpFile.value = "";
                    return false;
                }
            }


            $.ajaxFileUpload
            (
                {
                    url: '{:url("file/uploadimg")}', //用于文件上传的服务器端请求地址
                    secureuri: false, //是否需要安全协议，一般设置为false
                    fileElementId: name, //文件上传域的ID
                    dataType: 'json', //返回值类型 一般设置为json
                    success: function (data)  //服务器成功响应处理函数
                    {
                        //console.log(1);
                        //console.log(data);
                        if(data.code==1){

                            tools.ajax("{:url('file/custom_file_add')}",{files:data.url,id:gid},function(){

                                treeTool.jampUrl('','',{id:gid});
                            });
                        }else{
                            layer.error(data.url);

                        }

                        return;

                    },
                    complete: function(xmlHttpRequest) {
                       // console.log(2);
                       // console.log(xmlHttpRequest);
                        $("#"+name).replaceWith('<input type="file" name="'+name+'" id="'+name+'" multiple="" style="display:none;" class="img1" accept="image/*">');
                        $("#"+name).on("change", function(){
                            addimg(name);
                        });
                    },
                    error: function (data)//服务器响应失败处理函数
                    {

                        layer.error("文件上传失败");
                    }
                }
            )
            return false;
        }

    </script>
</body>
{/block}